 button {
        padding: 10px 20px;
        border: none;
        background-color: #007BFF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

 body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
form {
        margin: 20px;
        }
button {
        padding: 10px 20px;
        border: none;
        background-color: #007BFF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
button:hover {
        background-color: #0056b3;
    }
select {
        padding: 5px;
        margin-right: 10px;
    }
#deviceForm {
            display: none;
            margin-top: 20px;
        }
input[type="text"] {
            padding: 8px;
            width: 200px;
        }
button {
            padding: 8px 12px;
            margin: 5px;
            cursor: pointer;
        }
